
.signin{
    display: grid;
    grid-template-columns: 30% 30%;
    gap: 3%;
    justify-content: center;
    margin-top: 100px;
}
.isMessage{
    border: 2px solid red;
    width: 100%;
}
/* ------------------- image  ------------------- */
.left_login {
    height: 70vh;
    border-right: solid 1px rgb(0, 126, 21);
    background: url("./img/loction.png") no-repeat center;
    background-size: 100%;
}

/* ------------------- form ------------------- */
.right_login { 
    height: 70vh;
    padding: 25px;
    padding-top: 20px;
}

.loginHeader {
    color: green;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 40px;
}

.signForm {
    display: grid;
    color: red;
}
.message{
    margin: 2em 0;
    color : red;
    width: 100%;
    height: 50px;
    border: 2px solid red;
}
.signForm label {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    color: green;
    margin-bottom: 5px;
}

.signForm input {
    border: none;
    outline: none;
    height: 40px;
    background-color: rgb(238, 238, 238);
    padding: 0.6rem 1rem;
    font-size: 15px;
    transition: .3s;
    border: solid 1px #d4d4d4;
    align-content: center;
    margin-bottom: 10px;
    border-radius: 5px;
}

.signForm p {
    color: green;
    margin-top: 1px;
    font-weight: 600;
    cursor: pointer;
}

.signForm p:hover {
    color: rgb(8, 63, 15);
}

.signForm button {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border: none;
    padding: 1.7%;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 18px;
    transition: .3s;
    cursor: pointer;
}

.signForm button:hover {
    transform: scale(1.07);
    background-color: #343434;
}
.validateText {
	color: rgb(255, 0, 0);
	font-size: 12px;
}

/* ------------------- for responsivness ------------------- */

@media screen and (max-width: 700px) {

    .left_login {
        display: none;
        width: 0%;
    }

    .signin {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        padding: 10%;
    }

    .right_login {
        height: 200px;
        padding: 0px;
        padding-top: 20px;
    }
  

}