

/* .alls{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 4.3%;
    height: 180px;
    padding: 1%;
}
.swallInput{
    position: relative;
    height: 40px;
    width: 100%;
    outline: none;
    background-color: rgb(242, 242, 242);
    border: 1px solid rgb(202, 202, 202);
    border-radius: 6px;
    padding: 0 15px;
    margin: 1%;
}

.popupLableTitle{
    display: flex;
    justify-content: left;
    padding-left: 5px;
    width: 80%;
} */