body{
  margin: 0;
  }
  .SigninWrapper{
      display: flex;
      width: 80%;
      height: 60vh;
      /* border: 2px red solid; */
      margin: 50px auto;
      box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1),
      -6px -6px 12px rgba(255, 255, 255, 0.5);
  
  }
  label, input{
  display: block;
  }
  h1{
      font-size: 3rem;
  margin: 0;
  }
  .SigninForm{
      display: flex;
      flex-direction: column;
      align-items: center;
      width:100%;
      margin: 0 auto;
      /* border: 2px solid green; */
  }
  .left-side {
      display: none;
  }
  .Signin{
  /* border: 2px solid green; */
  width: 50%;
  }
  .confirm{
    /* border: 2px solid red; */
    width: 30%;
    height: 70%;
  }
  .signInput{
      width: 95%;
      border: 0.1px solid rgb(216, 213, 213);
      height: 45px;
      border-radius: .75rem;
      margin-bottom: 25px;
      padding: .5rem;
      background-color:rgb(226, 242, 247)
  
  }
  input:focus{
    outline: none;
  }
  label{
      font-size: x-large;
      color: green;
      font-weight: bolder;
  }
  .signIn-btn{
      margin-top: 1em;
      padding: .7em;
      width: 60%;
      border-radius: 1em;
      box-shadow: 1px 2px 0px .5px  rgb(177, 194, 175);
      text-align: center;
      font-size: larger;
      font-weight:bolder ;
      background-color: rgb(1, 134, 250);
      border: none;
  }
  .eye{
      /* border: 2px solid red; */
      width: 35px;
      height: 20px;
      color: rgb(164, 161, 161);
      cursor: pointer;
    }
    #passInput{
      height: 80%;
      border: none;
      margin-top: 23px;
    }
    .passWrapper{
      display: flex;
      /* justify-content: center;  */
      align-items: center;
      border: 2px solid red;
      height: 45px;
      width: 95%;
      border: 0.1px solid rgb(216, 213, 213);
      /* height: 30px; */
      border-radius: .75rem;
      margin-bottom: 25px;
      padding: .5rem;
      background-color: rgb(226, 242, 247)
  
    }
  
  /******************************/
  
    @media screen and (min-width: 576px) {
      .left-side{
          display: block;
        width: 100%;
        height: 30%;
        border-radius:2em 2em 0 0 ;
        /* border: 2px solid red; */
        background-color: rgb(194, 245, 194);
        opacity: 80%;
      }
      .left-SideInner{
          /* border: 2px solid red; */
          width: 95%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 auto;
  
      }
      .SigninWrapper{
          display: block;
          /* border: 2px solid red; */
          border-radius:2em ;
          height: 70vh;
  
      }
    }
  
   
    @media screen and (min-width: 1024px) {
      /* CSS rules for larger screens go here */
      .SigninWrapper{
          width: 50%;
          display: flex;
          margin: 140px auto;
          border-radius: 0 2em  2em;  
          
       }
     .SigninForm{
      justify-content: center;
     }
      .signIn-btn,.Signin{
          width: 60%;
      }
      .left-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 0.5em;
        width: 50%;
        height: 100%;
        border-radius:2em 0 0 2em ;
        /* border: 2px solid red; */
        background-color: rgb(194, 245, 194);
        opacity: 80%;
      }
    }