body{
  margin: 0;
  padding: 0;

  }
  .SigninWrapper{
      display: flex;
      max-width: 70%;
      width: 95%;
      height: 60vh;
      border-radius:2em;  
      margin: 100px auto;
      box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1),
      -6px -6px 12px rgba(255, 255, 255, 0.5);
      overflow: hidden;

  }
  .confirmWrapper{
    display: flex;
    max-width: 70%;
    width: 95%;
    height: 90vh;
    border-radius:2em;  
    margin: 20px auto;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1),
    -6px -6px 12px rgba(255, 255, 255, 0.5);
}
  label, input{
  display: block;
  }

  .SigninForm{
      display: flex;
      flex-direction: column;
      align-items: center;
      width:100%;
      margin: 10px ;
      /* border: 2px solid blue; */
  }
  .left-side{
    display: none;

  }
  .left-side p {
font-size: 15px;  
  }
  .signInBold{
    display: block;
    font-weight: bolder;
    margin-bottom: 1em;
  }
  .Signin{
  /* border: 2px solid green; */
  width: 90%;
  align-items: center;
  }
  /* .confirm{
    border: 2px solid red;
    width: 30%;
    height: 70%;
  } */
  .signInput{
      width: 95%;
      border: 0.1px solid rgb(216, 213, 213);
      height: 45px;
      border-radius: .75rem;
      margin-bottom: 25px;
      padding: .5rem;
      background-color:rgb(226, 242, 247)
  
  }
  .signintitle{
    margin-bottom: 1em;
  }
  input:focus{
    outline: none;
  }
  label{
  
      /* color: green; */
      font-weight: bolder;
  }
  .signIn-btn{
      margin-top: 1em;
      padding: .5em;
      width: 60%;
      border-radius: .5em;
      box-shadow: 1px 2px 0px .5px  rgb(177, 194, 175);
      text-align: center;
      font-size: larger;
      font-weight:bold ;
      background-color: rgb(187, 252, 187);
      border: none;
  }
  .eye{
      /* border: 2px solid red; */
      width: 35px;
      height: 20px;
      color: rgb(164, 161, 161);
      cursor: pointer;
    }
    #passInput{
      height: 80%;
      border: none;
      margin-top: 23px;
    }
    .passWrapper{
      display: flex;
      /* justify-content: center;  */
      align-items: center;
      height: 45px;
      width: 95%;
      border: 0.1px solid rgb(216, 213, 213);
      /* height: 30px; */
      border-radius: .75rem;
      margin-bottom: 25px;
      padding: .5rem;
      background-color: rgb(226, 242, 247)
  
    }
  
  /******************************/
  
    @media screen and (min-width: 500px) {
      /* .left-side{
          display: block;
        width: 100%;
        height: 30%;
        border-radius:2em 2em 0 0 ;
        background-color: rgb(243, 243, 243);
        opacity: 80%;
      }
      .left-SideInner{
          width: 95%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 auto;
  
      } */
      .SigninWrapper{
          display: block;
          border-radius:2em ;
          /* height: 70vh; */
  
      }
    }
   
    @media screen and (min-width: 700px) {
      /* CSS rules for larger screens go here */
      .SigninWrapper{
          width: 80%;
          display: flex;
          
       }
     .SigninForm{
      justify-content: center;
     }
      .signIn-btn{
          width: 60%;
      }
      .left-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 0.5em;
        width: 50%;
        height: 100%;
        border-radius:2em 0 0 2em ;
        /* border-right: 5px solid rgb(194, 245, 194); */
        background-color:rgb(216, 213, 213);
        opacity: 80%;
      }
      .confirmWrapper{
        margin: 30px auto;
       }
    }
    @media screen and (min-width: 1000px) {
      .SigninWrapper{
        width: 50%;
       
     }
    }
   