.w-300 {
  width: 300px !important;
}
.center {
  margin-left: auto !important;
  margin-right: auto !important;
}
.main-bar {
  background-color: white;
  border-radius: 10px;
  margin-left: auto;
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 10px 12px -6px rgba(0, 0, 0, 0.1);
}
.hr {
  background-color: rgb(219, 219, 219);
  border: none;
  height: 2px;
}
.chart-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}
.link-goto {
  margin-top: 20px;
  margin-left: 10px;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: rgb(244, 255, 39);
  text-decoration: none;
}
