@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


/* --------------- Vehicle-navigation --------------- */
.vehicle_navigation {
    position: fixed;
    width: 100px;
    height: 100%;
    transition: 0.5s;
    background-color: rgb(54, 54, 54);
    padding: 2px 28px;
    text-decoration: none;
    margin-top: 0px;
    z-index: 1;
}

.vehicle_navigation ul li {
    text-decoration: none;
    margin-top: 10px;
    transition: 0.5s;
    list-style: none;
    border-bottom: solid 2px rgb(109, 109, 109);
    justify-content: center;
    align-items: center;
    padding-bottom: 7px;
    padding-left: 5px;
}

.vehicle_navigation ul li p {
    transition: 0.5s;
}

.vehicle_navigation ul li p:hover {
    transform: scale(1.2);
    transition: 0.5s;
}


/* --------------- Vehicle-header --------------- */
.vehicle_header {
    position: absolute;
    width: calc(100% - 100px);
    left: 100px;
    min-height: 1vh;
    box-shadow: 0 5px 7px -4px rgba(0, 0, 0, 0.4);
    padding: 20px 0px 0 30px;
    justify-content: space-between;
    z-index: 1;
    display: flex;
}

.vehicle_header h3 {
    text-align: center;
    color: rgb(36, 114, 43);
    padding-left: 500px;
    padding-top: 4px;
}

.vehicle_header h2 {
    text-align: left;
}

.header_title {
    display: flex;
}

.vehicle_header p {
    padding-right: 30px;
    padding-bottom: 10px;
    transition: 0.5s;
}

.vehicle_header p:hover {
    transform: scale(1.2);
}


/* --------------- vehicle-main --------------- */
.vehicle_outer {
    position: absolute;
    width: calc(100% - 100px);
    left: 100px;
    min-height: 88vh;
    background-color: rgb(244, 244, 244);
    color: var(--black1);
    top: 75px;
}

.vehicle_contents {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 10px 10px 10px 10px;
    justify-content: space-between;
    width: 70%;
    margin-left: 5%;
    position: absolute;
}

/* ------------------ Total_vehicle ------------------- */
.total_vehicle {
    width: 240px;
    background-color: rgb(255, 255, 255);
    height: 100px;
    margin-bottom: 50px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    padding: 10%;
    box-shadow: 0px 4px 4px -4px rgb(0, 0, 0);
}

.total_vehicle h4 {
    color: var(--black1);
    padding: 10px;
}

.total_vehicle p {
    display: grid;
    grid-template-columns: 50px 50px;
    justify-content: center;
}

.total_vehicle p b {
    margin-top: 5px;
    font-size: 1.5rem;
}

.total_vehicle:hover {
    transform: scale(1.09);
}

/* ------------------ On-Route ------------------- */
.on_route {
    width: 240px;
    background-color: rgb(255, 255, 255);
    height: 100px;
    margin-bottom: 50px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    padding: 10%;
    box-shadow: 0px 4px 4px -4px rgb(0, 0, 0);
}

.on_route h4 {
    color: var(--black1);
    padding: 10px;
}

.on_route p {
    display: grid;
    grid-template-columns: 50px 50px;
    justify-content: center;
}

.on_route p b {
    margin-top: 5px;
    font-size: 1.5rem;
}

.on_route:hover {
    transform: scale(1.09);
}

/* ------------------ Parked ------------------- */
.parked {
    width: 240px;
    background-color: rgb(255, 255, 255);
    height: 100px;
    margin-bottom: 50px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    padding: 10%;
    box-shadow: 0px 4px 4px -4px rgb(0, 0, 0);
}

.parked h4 {
    color: var(--black1);
    padding: 10px;
}

.parked p {
    display: grid;
    grid-template-columns: 50px 50px;
    justify-content: center;
}

.parked p b {
    margin-top: 5px;
    font-size: 1.5rem;
}

.parked:hover {
    transform: scale(1.09);
}

/* ------------------ Maintenance ------------------- */
.maintenance {
    width: 240px;
    background-color: rgb(255, 255, 255);
    height: 100px;
    margin-bottom: 50px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    padding: 10%;
    box-shadow: 0px 4px 4px -4px rgb(0, 0, 0);
}

.maintenance h4 {
    color: var(--black1);
    padding: 10px;
}

.maintenance p {
    display: grid;
    grid-template-columns: 50px 50px;
    justify-content: center;
}

.maintenance p b {
    margin-top: 5px;
    font-size: 1.5rem;
}

.maintenance:hover {
    transform: scale(1.09);
}

/* ------------------ Vehicle-search ------------------- */
.vehicle_search {
    margin-top: 230px;
    margin-left: 55%;
}

.hide {
    display: none;
}

.vehicle_search p {
    display: flex;
}

.vehicle_search p .icn {
    margin-top: 8px;
    padding-left: -30px;
    margin-right: -42px;
    z-index: 1;
}

.vehicle_search input {
    width: 61%;
    height: 38px;
    padding-left: 50px;
    border-radius: 6px 0px 0px 6px;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    margin-left: 10px;
}

.vehicle_search p button {
    width: 15%;
    background-color: #222;
    color: var(--white);
    border-radius: 0px 7px 7px 0px;
    border: none;
}

.vehicle_search p button:hover {
    background-color: rgb(67, 67, 67);
    border: none;
}


/* ------------------ Vehicle-filter ------------------- */
.vehicle_filter p {
    margin-top: 50px;
    margin-left: 80%;
    color: rgb(63, 63, 63);
    display: flex;
}

.vehicle_filter p .fil {
    margin-top: 1px;
}

.vehicle_filter p h6 {
    padding-left: 5px;
    font-size: 0.8rem;
}

/* ------------------ Vehicle-table ------------------- */
.outer_vehicle_tables {
    overflow-x: scroll;
    padding: 1%;
}

.t_table {
    padding: 1%;
    width: 100%;
}

.vehicle_table {
    margin-left: 4%;
    border-collapse: collapse;
    width: 90%;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.outer_vehicle_tables p{
    color: #009879;
    font-size: 23px;
    margin-left: 60px;
    font-weight: 600;

}

.vehicle_table thead {
    background-color: #4a4a4a;
    color: var(--white);
    text-align: left;
    padding: 2%;
    margin-top: 2%;
}

.vehicle_table button {
    background-color: #404040;
    color: var(--white);
    padding: 3%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 5px;
    width: 80px;
    font-size: 0.8rem;
}

.vehicle_table .edit_button {
    background-color: #006666;
}

.vehicle_table th,
.vehicle_table td {
    padding: 8px 15px;
}

.vehicle_table tbody tr {
    border-bottom: 1px solid #bfbfbf;
}

.vehicle_table tbody tr:nth-of-type(even) {
    background-color: #ffffff;
}

.vehicle_table tbody tr:last-of-type {
    border-bottom: 4px solid #4a4a4a;
}

.vehicle_table tbody .active_row {
    color: #009879;
}


/* ------------------ Vehicle-page ------------------- */
.page {
    align-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.num {
    padding: 20px 10px 20px 20px;
}

.page .sel {
    margin-right: 50px;
}

.page .next {
    margin-top: 8px;
    margin-left: 10px;
}

.vehicle_menu {
    display: none;
}


/* ------------------ Responsivness ------------------- */
@media screen and (max-width: 1130px) {

    .header h3 {
        display: none;
    }

    .vehicle_contents {
        display: grid;
        grid-template-columns: 100px 100px;
        justify-content: space-around;
        width: 70%;
        margin-left: 30px;
        column-gap: 180px;
        padding-right: 50px;
    }
    .vehicle_search {
        margin-top: 400px;
        margin-right: 10%;
        margin-left: 150px;
        width:60%;
    }
}


@media screen and (max-width: 1000px) {
    .vehicle_contents {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 100px 100px;
        justify-content: space-between;
        width: 70%;
        margin-left: 30px;
        position: absolute;
        padding-left: 5%;
    }

    .vehicle_search {
        margin-top: 400px;
        margin-right: 10%;
        margin-left: 150px;
        width:60%;
    }

    .vehicle_filter p {
        margin-top: 40px;
        margin-left: 70%;
    }

    .t_table {
        padding: 2%;
        width: 98%;
    }

    .vehicle_table {
        margin-left: 3%;
        margin-top: 4px;
        border-collapse: collapse;
        width: 80%;
        margin-bottom: 15px;
        border-radius: 5px 5px 0px 0px;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }


}


@media screen and (max-width: 930px) {
    .vehicle_contents {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 100px 100px;
        justify-content: space-between;
        width: 70%;
        margin-left: 30px;
        position: absolute;
        padding-left: 5%;
    }

    .vehicle_search {
        margin-top: 400px;
        margin-right: 0%;
        margin-left: 150px;
        width: 60%;
    }

    .t_table {
        padding: 2%;
        width: 97%;
        overflow-x: scroll;
    }

    .vehicle_table {
        margin-left: 1%;
        margin-top: 4px;
        border-collapse: collapse;
        width: 85%;
        margin-bottom: 15px;
        border-radius: 5px 5px 0px 0px;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }

}

@media screen and (max-width: 700px) {
    .vehicle_contents {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 100px;
        justify-content: space-between;
        width: 70%;
        margin-left: 0px;
        position: absolute;
        padding-left: 20%;
    }

    .vehicle_outer {
        position: absolute;
        width: 100%;
        left: 100px;
        min-height: 88vh;
        background-color: rgb(244, 244, 244);
        color: var(--black1);
        top: 75px;
    }

    .vehicle_filter {
        margin-top: 5px;
        margin-left: -50%;
        color: rgb(63, 63, 63);
        display: flex;
    }

    .vehicle_search {
        margin-top: 640px;
        margin-right: 10%;
        margin-left: 150px;
        width: 60%;
    }

    .t_table {
        padding: 2%;
        width: 85%;
        overflow-x: scroll;
    }

    .vehicle_table {
        margin-left: 2%;
        margin-top: 4px;
        border-collapse: collapse;
        width: 80%;
        margin-bottom: 15px;
        border-radius: 5px 5px 0px 0px;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }
}


@media screen and (max-width: 600px) {
    .vehicle_contents {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 100px;
        justify-content: space-between;
        width: 70%;
        margin-left: 0px;
        position: absolute;
        padding-left: 17%;
    }

    .vehicle_search {
        margin-top: 640px;
        margin-right: 10%;
        margin-left: 50px;
        width: 70%;
    }

    .users_search {
        margin-top: 550px;
        margin-right: 10%;
        margin-left: 150px;
        width: 60%;
    }

    .t_table {
        padding: 2%;
        width: 80%;
        overflow-x: scroll;
    }

    .vehicle_table {
        margin-left: 1%;
        margin-top: 4px;
        border-collapse: collapse;
        width: 85%;
        margin-bottom: 15px;
        border-radius: 5px 5px 0px 0px;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }

    .vehicle_menu {
        display: contents;
    }

    .vehicle_header .header_title {
        display: none;
    }
}


@media screen and (max-width: 500px) {

    .vehicle_contents {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 100px;
        justify-content: space-between;
        width: 70%;
        margin-left: 0px;
        position: absolute;
        padding-left: 8%;
    }

    .vehicle_search {
        margin-top: 640px;
        margin-right: 10%;
        margin-left: 50px;
        width: 70%;
    }

    .users_search {
        margin-top: 550px;
        margin-right: 10%;
        margin-left: 150px;
        width: 60%;
    }

    .t_table {
        padding: 2%;
        width: 80%;
        overflow-x: scroll;
    }

    .vehicle_table {
        margin-left: 1%;
        margin-top: 4px;
        border-collapse: collapse;
        width: 75%;
        margin-bottom: 15px;
        border-radius: 5px 5px 0px 0px;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }

}


@media screen and (max-width: 400px) {
    .vehicle_contents {
        padding-left: 10px;
    }
    .vehicle_search {
        margin-top: 640px;
        margin-right: 10%;
        margin-left: 150px;
        width: 60%;
    }

    .t_table {
        padding: 2%;
        background-color: rgb(0, 0, 0);
        width: 70%;
        overflow-x: scroll;
    }

    .vehicle_table {
        margin-left: 1%;
        margin-top: 4px;
        border-collapse: collapse;
        width: 85%;
        margin-bottom: 15px;
        border-radius: 5px 5px 0px 0px;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }
}


@media screen and (max-width: 360px) {
    .vehicle_contents {
        padding-left: -100px;
        margin-right: 200px;
    }

    .vehicle_search {
        margin-top: 520px;
        margin-right: 10%;
        margin-left: 110px;
        width: 60%;
    }

    .filter {
        margin-top: 5px;
        margin-left: -100%;
        color: rgb(63, 63, 63);
        display: flex;
    }

    .t_table {
        padding: 8%;
        width: 80%;
        overflow-x: scroll;
    }

    .vehicle_table {
        margin-left: 1%;
        margin-top: 4px;
        border-collapse: collapse;
        width: 88%;
        margin-bottom: 15px;
        border-radius: 5px 5px 0px 0px;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }

}