/* --------------- Alert Main --------------- */
.main_content {
    position: relative;
    width: calc(100% - 100px);
    left: 100px;
    min-height: calc(90vh);
    background-color: rgb(238, 238, 238);
    color: var(--black1);
    top: 75px;
    padding: 5%;
    padding-top: 2px;
    padding-bottom: 3%;
}

.allDivalert {
    background-color: rgb(255, 255, 255);
    padding: 5%;
    border-radius: 10px 10px 10px 10px;
    z-index: 1;
}

.headers {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 5%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-decoration: none;
    color: var(--white);
}

.headers .sd {
    background-color: rgb(255, 255, 255);
    color: rgb(20, 132, 0);
    margin-bottom: -40px;
    border: 8px solid rgb(238, 238, 238);
    z-index: -1;
    text-transform: none;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.headers p h1 {
    color: rgb(0, 0, 0);
    display: inline-block;
    border-radius: 8px;
    border: none;
    font-size: 1.5vw;
}

.headers .sdd {
    color: black;
    font-size: 20px;
    font-weight: 600;
}

/* --------------- all cards --------------- */

.allcards {
    display: grid;
    grid-template-columns: 29% 29% 29%;
    gap: 7%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}

/* -----------------active card ------------------- */
.activeCard {
    width: 80%;
    background-color: rgb(83, 83, 83);
    height: 110px;
    margin-bottom: 50px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    padding: 16px;
    box-shadow: 0px 4px 4px -4px rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    color: #ffffff;
}

.innerContents1 {
    color: #ffffff;
}

.innerContents1 h4 {
    /* color: red; */
    margin-top: 10px;
}

.activeCard p {
    display: grid;
    grid-template-columns: 45px 45px;
    justify-content: center;
    margin-top: 6px;
}

.activeCard p b {
    margin-top: 2px;
    font-size: 1.5rem;
}

.activeCard:hover {
    transform: scale(1.09);
}

/* -----------------other cards ------------------- */

.alerts {
    color: #006666;
    width: 80%;
    background-color: rgb(250, 250, 250);
    height: 110px;
    margin-bottom: 50px;
    border-radius: 0 10px 10px 0;
    text-align: center;
    transition: 0.3s;
    padding: 16px;
    box-shadow: 0px 4px 4px -4px rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    box-shadow: -4px 0px 5px -4px rgb(0, 0, 0);
    color: black;
    border-left: 4px solid black;
}

.innerContents {
    color: #000;
}

.innerContents h4 {
    /* color: red; */
    margin-top: 10px;
}

.icon {
    display: flex;
    justify-content: space-around;
    gap: 3%;
}

.alerts p {
    display: grid;
    grid-template-columns: 45px 45px;
    justify-content: center;
    margin-top: 6px;
}

.alerts p b {
    margin-top: 2px;
    font-size: 1.5rem;
}

.alerts:hover {
    transform: scale(1.09);
}

/* * ------------------ Vehicle-search ------------------- */

.vehicle_search {
    display: flex;
    justify-content: right;
    /* padding-right: 10%; */
}

.hide {
    display: none;
}

.vehicle_search p {
    display: flex;
}

.vehicle_search .icn {
    margin-top: 8px;
    /* padding-left: -40px; */
    margin-right: -42px;
    margin-left: 20px;
    z-index: 2;
    /* background-color: red; */
}

.vehicle_search input {
    /* width: 61%; */
    height: 38px;
    padding-left: 50px;
    border-radius: 6px 0px 0px 6px;
    background-color: #ffffff;
    outline: none;
    border: 1px solid rgb(145, 145, 145);
    margin-left: 10px;
    z-index: 1;
}

.vehicle_search p button {
    width: 80px;
    background-color: #222;
    color: var(--white);
    border-radius: 0px 7px 7px 0px;
    border: none;
}

.vehicle_search p button:hover {
    background-color: rgb(67, 67, 67);
    border: none;
}


/* ------------------ Vehicle-table ------------------- */

.outer_vehicle_table {
    overflow-x: scroll;
    margin: 3%;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.outer_vehicle_table p {
    color: #009879;
    font-size: 23px;
    margin-left: 45px;
    font-weight: 600;
    margin-bottom: 10px;

}

.vehicle_table {
    /* margin-left: 4%; */
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.vehicle_table thead {
    background-color: #0e7b48;
    color: var(--white);
    text-align: left;
    padding: 2%;
    margin-top: 2%;
    height: 50px;
}

.vehicle_table button {
    background-color: #404040;
    color: var(--white);
    padding: 3%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 5px;
    width: 80px;
    font-size: 0.8rem;
}

.vehicle_table .edit_button {
    background-color: #006666;
}

.vehicle_table th,
.vehicle_table td {
    padding: 5px 15px;
}

.vehicle_table tbody tr {
    border-bottom: 1px solid #afafaf;
}

.vehicle_table tbody tr:nth-of-type(even) {
    background-color: #e4e4e4;
}

.vehicle_table tbody tr:last-of-type {
    border-bottom: 4px solid #4a4a4a;
}

.vehicle_table tbody .active_row {
    color: #005d4a;
}


/* ------------------ pagination ------------------- */
.page {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


.loading {
    margin-left: 45%;
    margin-top: 100px;
    padding: 10px;
}

/* ------------------ Responsivness ------------------- */

@media screen and (max-width: 750px) {

    .allcards {
        display: grid;
        grid-template-columns: 40% 40%;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-top: 50px;
    }
}


@media screen and (max-width: 500px) {
    .allcards {
        display: grid;
        grid-template-columns: 95%;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-top: 50px;
    }

    .main_content {
        position: absolute;
        width: calc(100%);
        left: 0px;
        opacity: var(--black2);
        color: var(--black1);
        top: 75px;
        background-color: rgb(242, 242, 242);
        z-index: -1;

    }

    .headers p h1 {
        color: rgb(0, 0, 0);
        display: inline-block;
        border-radius: 8px;
        border: none;
        font-size: 3vw;
    }

    .headers .sd {
        background-color: rgb(255, 255, 255);
        color: rgb(20, 132, 0);
        margin-bottom: -40px;
        border: 8px solid rgb(238, 238, 238);
        z-index: -1;
        text-transform: none;
        padding: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }
}