@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  background-color: rgb(247, 247, 247);
  font-family: "Poppins", sans-serif;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 1px;
}
.main-container {
  margin-left: auto;
  margin-right: auto;
}

.container_mv {
  display: flex;
  justify-content: left;
  /* align-items: center; */
}
.search-bar {
  margin-top: 10px;
  display: flex;
  width: 200px;
  align-items: center;
  background-color: rgb(227, 227, 227);
  border-radius: 5px;
  outline: black;
  margin-left: auto;
  margin-bottom: 10px;
  margin-right: 20px;
}
.search-bar input {
  background-color: transparent;
  width: 100%;
  display: block;
  margin-bottom: 0px;
  font-size: 15px;
  border: none;
  padding: 5px 10px;
  height: 40px;
  outline: none;
}
.align-left-m0 {
  text-align: left !important;
  margin-bottom: 0 !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.mt-20 {
  margin-top: 10px !important;
}
@media (max-width: 576px) {
  .main-container {
    max-width: 376px;
  }
  .sidebar-container {
    display: none;
  }
}

@media (min-width: 576px) {
  .main-container {
    max-width: 576px;
  }
  .sidebar-container {
    display: none;
  }
}

@media (min-width: 760px) {
  .main-container {
    max-width: 760px;
  }
  .sidebar-container {
    display: none;
  }
}

@media (min-width: 992px) {
  .main-container {
    max-width: 992px;
  }
  .sidebar-container {
    display: block;
  }
}
@media (min-width: 1300px) {
  .main-container {
    max-width: 80%;
  }
  .sidebar-container {
    display: block;
  }
}
